%h1 Top Viewers

%table
  %thead
    %tr
      %th Name
      %th Points

  %tbody
    - @viewers.each do |viewer|
      %tr
        %td= link_to "#{viewer.name}", viewer
        %td= viewer.points

%br
