.row
  .col-md-6.col-xs-12
    %dl.dl-horizontal
      %dt
        Name
      %dd
        = @viewer.name

      %dt
        Dongerinos
      %dd
        = @viewer.points


  .col-md-6.col-xs-12
    .table-container
      = render :partial => 'broadcasts/broadcasts', :locals => {:broadcasts => @broadcasts}

